.system-monitor{
  .ant-tabs-bar{
    margin-bottom: 0;
  }
}
.system-monitor-overview{
  .ant-table-row{
    cursor: pointer;
  }
  .clickRowStyl{
    background: #e6f7ff !important;
  }
  .ant-table-row-expand-icon-cell{
    width: 80px;
    text-overflow: initial;
  }
}
